// --------------------------------------------------------------------------
//
//  Footer
//
// --------------------------------------------------------------------------

.footer {
  background-color: $dark-blue;
  padding: 40px 30px;

  text-align: center;
  color: $white;

  @include media($mobile-down) {
    padding: 20px;
  }
}

  .footer-logo {

  }

  .footer-caption {
    display: block;
  }


// --------------------------------------------------------------------------
//   Contact Detail Columns
// --------------------------------------------------------------------------

.footer-contact {
  @include clearfix;
  margin-top: 30px;
}

  .footer-contact-column {
    @include span-columns(6, block-collapse);
    padding: 0 30px;

    @include media($mobile-down) {
      @include span-columns(4, block-collapse);
      width: 100%;
      padding: 30px 0;
    }

    &:first-child {
      text-align: right;
    }

    &:last-child {
      text-align: left;
      border-left: 1px solid rgba(white, 0.2);

      @include media($mobile-down) {
        border-left: none;
        border-top: 1px solid rgba(white, 0.2);
      }
    }

  }

    .footer-contact-detail {
      display: block;
      font-size: 24px;
      font-family: $bebas;
      line-height: 1.2;

      @include media($mobile-down) {
        text-align: center;
      }
    }

    .footer-contact-detail--phone {
      font-size: 36px;
      font-weight: 500;
    }


// --------------------------------------------------------------------------
//   Social Links
// --------------------------------------------------------------------------

.footer-contact-social {
  margin-top: 10px;
  margin-right: 10px;

  @include media($mobile-down) {
    text-align: center;
  }
}

  .footer-contact-social-link {
    color: $white;
    font-size: 30px;
    margin-left: 3px;
  }


// --------------------------------------------------------------------------
//   Form
// --------------------------------------------------------------------------

.footer-form {


}

.footer-contact-column {

  .gform_body {

    @include media($mobile-down) {
      text-align: center;
    }
  }

  .gfield_label {
    display: none;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    display: inline-block;
    width: 100%;
    max-width: 320px;
    padding: 10px 12px;
    margin-bottom: 10px;
    border: 1px solid $white;
    background-color: transparent;
    color: $white;

    @include placeholder {
      color: rgba($white, 0.4);
    }

    @include media($mobile-down) {
      max-width: none;
    }
  }

  textarea {
    height: 100px;
  }
}


// --------------------------------------------------------------------------
//   Copyright
// --------------------------------------------------------------------------

.footer-copyright {
  display: block;
  margin-top: 40px;
  font-size: 14px;
  color: rgba($white, 0.4);

  a {
    color: rgba($white, 0.4);

    @include media($mobile-down) {
      display: block;
    }
  }
  .divide {
    color: rgba($white, 0.2);
    margin:0 6px;
  }
}

// --------------------------------------------------------------------------
//   BirdBrain Credit
// --------------------------------------------------------------------------

@keyframes slideDown {
	0% {
		transform: translateY(-50%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-50%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}

.birdbrain-credit {
  /*
   &:after {
    display: inline-block;
    content:'';
    width:6px;
    height:11px;
    background: url('../images/birdbrain-bolt.svg');
    margin-left: 4px;
    margin-bottom: 2px;
    opacity:0.4;
  }*/
  &:hover {
    color: rgba($white, 0.7);
    @include transition(all 0.4s ease-in-out);
    /*&:after {
      animation-name: slideDown;
    	-webkit-animation-name: slideDown;
    	animation-duration: 0.4s;
    	-webkit-animation-duration: 0.4s;
    	animation-timing-function: ease;
    	-webkit-animation-timing-function: ease;
    	visibility: visible !important;
      opacity:0.7;
    }*/
  }
}
