// --------------------------------------------------------------------------
//
//  Header
//
// --------------------------------------------------------------------------

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 60px 30px;
  text-align: right;

  @include media($mobile-down) {
    text-align: right;
    padding: 35px 20px;
  }
}

  .header-logo {
    position: relative;
    top: -25px;

    @include horizontal-align(absolute);

    transition: top 100ms ease-in-out;

    &:hover {
      top: -15px;
    }

    @include media($mobile-down) {
      top: -5px;
      display: inline-block;
      max-width: 200px;
      width: 100%;
    }
  }

  .header-cta {
    margin-right: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
    font-size: 20px;
    vertical-align: middle;

    @include media($mobile-down) {
      position: absolute;
      left: 30px;
      display: none;
    }

    @include media(max-width 600px) {
      @include horizontal-align(absolute);
      top: 170px;
      width: 280px;
    }
  }

  .header-menu-toggle {
    display: inline-block;
    position: relative;
    top: -2px;

    vertical-align: middle;

    color: $dark-blue;
    font-size: 24px;
    line-height: 0;

    cursor: pointer;

    &:before {
      -webkit-font-smoothing: auto;
    }

    @include media($mobile-down) {
      //top: 6px;
    }

    @include media(max-width 450px) {
      //@include horizontal-align(absolute);
    //  top: 10px;
    //  width: 250px;
    }
  }
