// --------------------------------------------------------------------------
//
//   Page Hero
//
// --------------------------------------------------------------------------

.page-hero {
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
