// --------------------------------------------------------------------------
//
//   Partners Logos
//
// --------------------------------------------------------------------------

.partners {
  padding: 40px 30px;
  background-color: $white;
}

  .partners-container {
    max-width: 1200px;
    margin: 0 auto;

  }

  .partners-slider {

  }

    .partners-slider-slide {
      width: 20%;
      text-align: center;

      .partners-slider-logo {
        display: inline-block;
      }
    }


