// --------------------------------------------------------------------------
//
//  Buttons
//
// --------------------------------------------------------------------------

@mixin button ($primary: $base-link-color, $content: $white) {
  display: inline-block;
  padding: 0.5em 1.2em;
  background-color: $primary;
  border-radius: 6px;
  outline: 0;
  zoom: 1;
  cursor: pointer;
  user-select: none;
  user-drag: none;

  color: $content;
  font-family: $bebas;
  white-space: nowrap;
  vertical-align: baseline;
  text-decoration: none;
  text-align: center;
  line-height: normal;

  &:hover {
    outline: 0;
  }

  &:active {
    outline: 0;
  }

  &[disabled] {
    background-image: none;
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.button {
  @include button;
}

  .button--green {
    background-color: $green;

    &:focus,
    &:active,
    &:hover {
      background-color: $green;
      color: $black;
    }
  }

  .button--blue {
    background-color: $blue;

    &:focus,
    &:active,
    &:hover {
      background-color: $blue;
      color: $black;
    }
  }

  .button--dark-blue {
    background-color: $dark-blue;

    &:focus,
    &:active,
    &:hover {
      background-color: $dark-blue;
      color: $black;
    }
  }
