// --------------------------------------------------------------------------
//
//   Variables
//
// --------------------------------------------------------------------------


// ----- Colours ----- //

$black:               #000000;
$charcoal:            #6f6f6f;
$dark-gray:           #bebebe;
$gray:                #dadada;
$light-gray:          #fefefe;
$white:               #ffffff;

$blue:                #0094DA;
$dark-blue:           #074F6B;
$green:               #6DBB43;
$yellow:              #F4B350;
$red:                 #d78f8e;


// ----- Typography ----- //

$bebas: 'bebas';
$aileron: 'aileron';

$base-body-color:     $charcoal;
$base-heading-color:  $dark-blue;

$base-link-color:     $blue;
$base-link-hover:     lighten($base-link-color, 20%);

$base-border-color:   $gray;
$base-border-radius:  2px;
