// --------------------------------------------------------------------------
//
//  Standard Page Type
//
// --------------------------------------------------------------------------


.page-content {
  padding: 60px 20px;
  text-align: center;

  @include media($mobile-down) {
    padding: 30px 20px;
  }
}
