@charset "UTF-8";

/*!

*/

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.ir,
.hide-text,
.text-replace,
.image-replace {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
}

.hide,
.hidden {
  visibility: hidden;
  display: none;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_bold.woff2") format("woff2"), url("../fonts/bebas/bebasneue_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_regular.woff2") format("woff2"), url("../fonts/bebas/bebasneue_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_book.woff2") format("woff2"), url("../fonts/bebas/bebasneue_book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_light.woff2") format("woff2"), url("../fonts/bebas/bebasneue_light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_thin.woff2") format("woff2"), url("../fonts/bebas/bebasneue_thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-bold.woff2") format("woff2"), url("../fonts/aileron/aileron-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-bolditalic.woff2") format("woff2"), url("../fonts/aileron/aileron-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-regular.woff2") format("woff2"), url("../fonts/aileron/aileron-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-italic.woff2") format("woff2"), url("../fonts/aileron/aileron-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-light.woff2") format("woff2"), url("../fonts/aileron/aileron-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-lightitalic.woff2") format("woff2"), url("../fonts/aileron/aileron-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */

/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */

/* Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_bold.woff2") format("woff2"), url("../fonts/bebas/bebasneue_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_regular.woff2") format("woff2"), url("../fonts/bebas/bebasneue_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_book.woff2") format("woff2"), url("../fonts/bebas/bebasneue_book.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_light.woff2") format("woff2"), url("../fonts/bebas/bebasneue_light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../fonts/bebas/bebasneue_thin.woff2") format("woff2"), url("../fonts/bebas/bebasneue_thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-bold.woff2") format("woff2"), url("../fonts/aileron/aileron-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-bolditalic.woff2") format("woff2"), url("../fonts/aileron/aileron-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-regular.woff2") format("woff2"), url("../fonts/aileron/aileron-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-italic.woff2") format("woff2"), url("../fonts/aileron/aileron-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-light.woff2") format("woff2"), url("../fonts/aileron/aileron-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url("../fonts/aileron/aileron-lightitalic.woff2") format("woff2"), url("../fonts/aileron/aileron-lightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "icons";
  src: url("../icons/font/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.icon:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.icon-2x {
  font-size: 2em;
}

.icon-3x {
  font-size: 3em;
}

.icon-4x {
  font-size: 4em;
}

.icon-5x {
  font-size: 5em;
}

.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-arrow-left:before {
  content: "\EA01";
}

.icon-arrow-right:before {
  content: "\EA02";
}

.icon-burst:before {
  content: "\EA03";
}

.icon-caret-down:before {
  content: "\EA04";
}

.icon-caret-left:before {
  content: "\EA05";
}

.icon-caret-right:before {
  content: "\EA06";
}

.icon-corner:before {
  content: "\EA07";
}

.icon-cross:before {
  content: "\EA08";
}

.icon-envelope:before {
  content: "\EA09";
}

.icon-expand:before {
  content: "\EA0A";
}

.icon-facebook:before {
  content: "\EA0B";
}

.icon-filter:before {
  content: "\EA0C";
}

.icon-googleplus:before {
  content: "\EA0D";
}

.icon-linkedin:before {
  content: "\EA0E";
}

.icon-mail:before {
  content: "\EA0F";
}

.icon-menu:before {
  content: "\EA10";
}

.icon-phone:before {
  content: "\EA11";
}

.icon-twitter:before {
  content: "\EA12";
}

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  height: auto;
  max-width: 100%;
}

.alignleft {
  clear: left;
  float: left;
  margin-right: 20px;
}

.alignright {
  clear: right;
  float: right;
  margin-left: 20px;
}

.aligncenter {
  display: block;
  margin: 0 auto 20px;
}

.alignnone {
  display: block;
  margin: 0 0 20px;
}

body {
  font-family: "aileron", Arial, Helvetica, Sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-size-adjust: auto;
  line-height: 1.6;
  text-align: left;
  word-wrap: break-word;
  color: #6f6f6f;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
}

h1 + h2,
h2 + h3,
h3 + h4,
h5 + h6 {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #074F6B;
  font-family: "bebas", Arial, Helvetica, Sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

a {
  color: #0094DA;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #41c2ff;
}

strong {
  font-weight: 500;
}

em {
  font-style: normal;
  font-weight: 100;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  display: block;
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E6E6E6;
  color: #6f6f6f;
  background-color: #6f6f6f;
}

blockquote {
  margin: 0 0 20px;
  padding: 0 20px;
  font-size: 2.3em;
  font-style: italic;
  float: right;
  width: 30%;
  line-height: 120%;
  color: #939292;
}

blockquote p:last-child {
  margin-bottom: 0;
}

ins {
  background: #F4B350;
  color: #000000;
  text-decoration: none;
}

mark {
  background: #F4B350;
  color: #000000;
  font-style: italic;
  font-weight: bold;
}

table {
  width: 100%;
}

.wrapper {
  display: block;
  position: relative;
}

.container {
  clear: both;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.footer {
  background-color: #074F6B;
  padding: 40px 30px;
  text-align: center;
  color: #ffffff;
}

.footer-caption {
  display: block;
}

.footer-contact {
  clear: both;
  margin-top: 30px;
}

.footer-contact::after {
  content: '';
  display: table;
  clear: both;
}

.footer-contact-column {
  float: left;
  display: block;
  width: 51.17883%;
  padding: 0 30px;
}

.footer-contact-column:last-child {
  width: 48.82117%;
}

.footer-contact-column:first-child {
  text-align: right;
}

.footer-contact-column:last-child {
  text-align: left;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-contact-detail {
  display: block;
  font-size: 24px;
  font-family: "bebas";
  line-height: 1.2;
}

.footer-contact-detail--phone {
  font-size: 36px;
  font-weight: 500;
}

.footer-contact-social {
  margin-top: 10px;
  margin-right: 10px;
}

.footer-contact-social-link {
  color: #ffffff;
  font-size: 30px;
  margin-left: 3px;
}

.footer-contact-column .gfield_label {
  display: none;
}

.footer-contact-column input[type="text"],
.footer-contact-column input[type="email"],
.footer-contact-column textarea {
  display: inline-block;
  width: 100%;
  max-width: 320px;
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.footer-contact-column input[type="text"]::-moz-placeholder,
.footer-contact-column input[type="email"]::-moz-placeholder,
.footer-contact-column textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.footer-contact-column input[type="text"]::-webkit-input-placeholder,
.footer-contact-column input[type="email"]::-webkit-input-placeholder,
.footer-contact-column textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.footer-contact-column input[type="text"] :-ms-input-placeholder,
.footer-contact-column input[type="email"] :-ms-input-placeholder,
.footer-contact-column textarea :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.footer-contact-column textarea {
  height: 100px;
}

.footer-copyright {
  display: block;
  margin-top: 40px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.footer-copyright a {
  color: rgba(255, 255, 255, 0.4);
}

.footer-copyright .divide {
  color: rgba(255, 255, 255, 0.2);
  margin: 0 6px;
}

@keyframes slideDown {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(8%);
  }

  65% {
    transform: translateY(-4%);
  }

  80% {
    transform: translateY(4%);
  }

  95% {
    transform: translateY(-2%);
  }

  100% {
    transform: translateY(0%);
  }
}

.birdbrain-credit {
  /*
   &:after {
    display: inline-block;
    content:'';
    width:6px;
    height:11px;
    background: url('../images/birdbrain-bolt.svg');
    margin-left: 4px;
    margin-bottom: 2px;
    opacity:0.4;
  }*/
}

.birdbrain-credit:hover {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s ease-in-out;
  /*&:after {
      animation-name: slideDown;
    	-webkit-animation-name: slideDown;
    	animation-duration: 0.4s;
    	-webkit-animation-duration: 0.4s;
    	animation-timing-function: ease;
    	-webkit-animation-timing-function: ease;
    	visibility: visible !important;
      opacity:0.7;
    }*/
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 60px 30px;
  text-align: right;
}

.header-logo {
  position: relative;
  top: -25px;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  transition: top 100ms ease-in-out;
}

.header-logo:hover {
  top: -15px;
}

.header-cta {
  margin-right: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.12);
  font-size: 20px;
  vertical-align: middle;
}

.header-menu-toggle {
  display: inline-block;
  position: relative;
  top: -2px;
  vertical-align: middle;
  color: #074F6B;
  font-size: 24px;
  line-height: 0;
  cursor: pointer;
}

.header-menu-toggle:before {
  -webkit-font-smoothing: auto;
}

html {
  background-color: #ffffff;
  overflow-x: hidden;
}

html.no-touch {
  overflow-y: auto;
}

body {
  clear: both;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body::after {
  content: '';
  display: table;
  clear: both;
}

.page-wrapper {
  position: relative;
  width: 100%;
}

.half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

.half:last-child {
  margin-right: 0;
}

.half:nth-child(2n) {
  margin-right: 0;
}

.half:nth-child(2n+1) {
  clear: left;
}

.clear {
  clear: both;
  width: 100%;
  display: block;
}

.line-break {
  height: 60px;
}

.primary-navigation-wrapper {
  position: fixed;
  z-index: 900;
  right: 0;
  width: 350px;
  height: 100vh;
  -ms-transform: translateX(100%);
      transform: translateX(100%);
  padding: 120px 0 35px 0;
  background: #F4B350;
  color: rgba(255, 255, 255, 0.75);
  text-align: right;
  -webkit-font-smoothing: antialiased;
  transition: transform 600ms ease-in-out;
  box-shadow: 0px 0px 34px -9px rgba(0, 0, 0, 0.42);
}

.js-primary-navigation-open .primary-navigation-wrapper {
  -ms-transform: translateX(0);
      transform: translateX(0);
}

.primary-navigation-wrapper a {
  color: rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease-in-out;
}

.primary-navigation-wrapper a:hover {
  color: rgba(255, 255, 255, 0.9);
  transition: all 0.1s ease-in-out;
}

.primary-navigation-wrapper .primary-navigation-close {
  position: absolute;
  display: block;
  right: 38px;
  top: 70px;
  font-size: 26px;
  line-height: 0;
  color: #074F6B;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.primary-navigation-wrapper .primary-navigation-close:hover {
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

.primary-navigation-wrapper .scroll {
  overflow-y: scroll;
  max-height: 100%;
  padding-right: 35px;
}

.primary-navigation-contact {
  margin-top: 10px;
  font-family: "bebas";
  font-size: 20px;
  font-weight: 500;
}

.primary-navigation-contact-link {
  display: block;
  vertical-align: middle;
  line-height: 1.3;
}

.primary-navigation-contact-link .icon {
  margin-right: 10px;
  font-size: 14px;
}

.primary-navigation-contact-link .icon-mail {
  display: inline-block;
  -ms-transform: rotate(-22deg);
      transform: rotate(-22deg);
}

.primary-navigation-social {
  margin-top: 20px;
}

.primary-navigation-social-link {
  display: inline-block;
  font-size: 40px;
}

.primary-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.primary-navigation-menu-item a {
  display: block;
  font-family: "bebas";
  font-weight: bold;
  font-size: 48px;
  line-height: 1.2;
}

.primary-navigation-sub-menu {
  margin-bottom: 5px;
  list-style: none;
}

.primary-navigation-sub-menu .primary-navigation-menu-item a {
  display: block;
  padding: 4px 0;
  font-size: 20px;
  line-height: 1.4;
}

.page-hero {
  position: relative;
  min-height: 320px;
  padding-top: 220px;
  pointer-events: none;
}

.home .page-hero {
  min-height: 650px;
}

.page-hero .page-hero-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/content/home-hero-slide.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.internal .page-hero .page-hero-background {
  opacity: 0.5;
}

.page-hero .page-hero-title {
  text-align: center;
  margin: 0;
}

.head-slider {
  position: relative;
  z-index: -1;
  min-height: 320px;
  pointer-events: none;
  height: 70vh;
}

.head-slider .slick-slide {
  height: 70vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero-title {
  top: 0;
  padding-top: 190px;
  height: 70vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.home-hero-title .inner {
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.home-hero-title .inner .wrapper {
  padding: 10px 30px;
  display: inline-block;
  background: rgba(254, 254, 254, 0.8);
}

.home-hero-title .inner .wrapper h1 {
  margin-bottom: 0.2em;
}

.partners {
  padding: 40px 30px;
  background-color: #ffffff;
}

.partners-container {
  max-width: 1200px;
  margin: 0 auto;
}

.partners-slider-slide {
  width: 20%;
  text-align: center;
}

.partners-slider-slide .partners-slider-logo {
  display: inline-block;
}

.wrapper {
  display: block;
  position: relative;
}

.container {
  clear: both;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.button {
  display: inline-block;
  padding: 0.5em 1.2em;
  background-color: #0094DA;
  border: none;
  border-radius: 4px;
  outline: 0;
  zoom: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-drag: none;
  color: #ffffff;
  font-family: "bebas";
  font-weight: 800;
  white-space: nowrap;
  vertical-align: baseline;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

.button:hover {
  outline: 0;
}

.button:active {
  outline: 0;
}

.button[disabled] {
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.button strong {
  font-weight: 600;
}

.button--green {
  background-color: #6DBB43;
}

.button--green:focus,
.button--green:active,
.button--green:hover {
  background-color: #6DBB43;
  color: #000000;
}

.button--blue {
  background-color: #0094DA;
}

.button--blue:focus,
.button--blue:active,
.button--blue:hover {
  background-color: #0094DA;
  color: #000000;
}

.button--dark-blue {
  background-color: #074F6B;
}

.button--dark-blue:focus,
.button--dark-blue:active,
.button--dark-blue:hover {
  background-color: #074F6B;
  color: #000000;
}

.breadcrumbs {
  text-align: center;
  line-height: 60px;
  border-bottom: solid 1px #eee;
  font-size: 0.7em;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #bebebe;
}

.breadcrumbs a:hover {
  color: #6f6f6f;
}

.breadcrumbs span {
  color: #E6E6E6;
}

.call-to-action {
  padding: 50px 20px;
}

.call-to-action:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-image: url(../images/content/home-hero-slide.jpg);
  background-position: center 74%;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.17;
}

.call-to-action-title {
  margin-bottom: 10px;
  color: #F4B350;
  font-weight: 400;
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
}

.call-to-action-title strong {
  font-weight: 600;
}

.call-to-action-content {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #bebebe;
  padding: 20px 200px 20px 25px;
}

.call-to-action-content p {
  margin-bottom: 5px;
}

.call-to-action-button {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  right: 30px;
  font-size: 1.2em;
}

.feature-list {
  padding: 50px 20px;
  background-color: #0094DA;
  text-align: center;
}

.feature-list:after {
  content: url("../images/since-2000.png");
  position: absolute;
  right: 0;
  top: -80px;
}

.feature-list-item {
  display: inline-block;
  padding: 0 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "bebas";
  font-size: 20px;
  letter-spacing: 1px;
}

.feature-list-item:after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA03";
  position: relative;
  vertical-align: super;
  top: -4px;
  margin-left: 5px;
}

.feature-list-item:nth-child(1n):after {
  color: #074F6B;
}

.feature-list-item:nth-child(2n):after {
  color: #ffffff;
}

.feature-list-item:nth-child(3n):after {
  color: #6DBB43;
}

.feature-list-item:nth-child(4n):after {
  color: #F4B350;
}

form ul,
form ol,
form li {
  padding: 0;
  margin: 0;
  list-style: none;
}

form label {
  font-weight: 600;
}

.input-type-fileupload,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
input:not([type]),
textarea,
select {
  max-width: 100%;
  min-height: 48px;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 0;
  background-color: #F2F2F2;
  font-size: 14px;
  font-weight: normal;
}

[type='checkbox'],
[type='radio'] {
  margin-right: 10px;
}

select {
  height: 40px;
  border-radius: 0px;
  -webkit-appearance: none;
  line-height: 1;
}

.ginput_container_select {
  position: relative;
}

.ginput_container_select:after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA04";
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 10px;
}

textarea {
  margin-bottom: 10px;
}

.input-type-fileupload {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
}

.input-type-fileupload:last-child {
  margin-right: 0;
}

.input-type-fileupload .gfield_label {
  display: inline-block !important;
  margin-right: 20px;
  color: #bebebe;
}

.ginput_container_fileupload {
  display: inline-block;
}

.gf_left_half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

.gf_left_half:last-child {
  margin-right: 0;
}

.gf_right_half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0;
}

.gf_right_half:last-child {
  margin-right: 0;
}

.input-type-honeypot {
  display: none;
}

.gallery-slider {
  max-width: 6000px;
  margin: 0 auto;
}

.gallery-slider:before,
.gallery-slider:after {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  content: '';
  z-index: 8;
  width: 0;
  height: 0;
  border-style: solid;
  pointer-events: none;
}

.gallery-slider:before {
  left: 0;
  border-width: 120px 0 120px 15px;
  border-color: transparent transparent transparent #ffffff;
}

.gallery-slider:after {
  right: 0;
  border-width: 120px 20px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}

.gallery-slider .slick-prev,
.gallery-slider .slick-next {
  z-index: 99;
  height: 100%;
}

.gallery-slider .slick-prev:before,
.gallery-slider .slick-next:before {
  content: '';
}

.gallery-slider .slick-prev {
  left: 0;
}

.gallery-slider .slick-next {
  right: 0;
}

.gallery-slider .gallery-slider-slide {
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery-slider .gallery-slider-image {
  object-fit: cover;
}

.gallery-slider-header {
  clear: both;
  padding: 20px 30px;
}

.gallery-slider-header::after {
  content: '';
  display: table;
  clear: both;
}

.gallery-slider-title {
  float: left;
  margin: 0;
  font-weight: 300;
}

.gallery-slider-link {
  float: right;
  color: #074F6B;
  font-family: "bebas";
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
}

.gallery-slider-link:after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA02";
  margin-left: 5px;
  vertical-align: middle;
  font-size: 12px;
  color: #0094DA;
}

.quote-form {
  padding-bottom: 80px;
  border-bottom: 1px solid #E6E6E6;
}

.quote-form .gform_wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.quote-form .gfield_label {
  display: none;
}

.quote-form .input-type-fileupload .gfield_label {
  display: block;
}

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.5;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  color: #6f6f6f;
  opacity: 0.8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

.slick-prev:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA05";
}

.slick-next {
  right: -25px;
}

.slick-next:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA06";
}

.testimonials-wrapper {
  padding: 40px;
  background-color: #E6E6E6;
  color: #074F6B;
}

.testimonials {
  position: relative;
  text-align: center;
}

.testimonials .slick-prev {
  left: 10%;
}

.testimonials .slick-next {
  right: 10%;
}

.testimonials-header {
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px 0 0;
}

.testimonials-header::after {
  content: '';
  display: table;
  clear: both;
}

.testimonials-title {
  margin: 0;
  text-align: center;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

.testimonial {
  padding: 70px 0 0;
  width: 100vw;
}

.testimonial-content {
  display: inline-block;
  max-width: 800px;
}

.testimonial-author {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: "bebas";
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.0 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2016, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

/* handling phones and small screens */

.page-contact-us .line {
  border-top: solid 1px #eee;
}

.gallery-filter {
  padding: 15px 40px;
  border-bottom: 1px solid #E6E6E6;
  text-transform: uppercase;
  color: #074F6B;
  font-family: "bebas";
  font-weight: 500;
  font-size: 20px;
}

.gallery-filter-dropdown {
  position: relative;
  float: right;
  text-align: right;
}

.gallery-filter-trigger {
  color: #074F6B;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gallery-filter-trigger .icon {
  color: #0094DA;
  font-size: 0.8em;
}

.gallery-filter-options {
  display: none;
  position: absolute;
  z-index: 99;
  top: 100%;
  right: 0;
  width: 300%;
  padding: 20px;
  background-color: #F4B350;
  -webkit-font-smoothing: antialiased;
}

.gallery-filter-option {
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gallery-filter-option:active,
.gallery-filter-option:focus,
.gallery-filter-option:hover {
  color: #ffffff;
}

.gallery-filter-option.active {
  color: #6f6f6f;
}

.gallery-wrapper {
  padding: 50px 20px;
  border-bottom: 1px solid #E6E6E6;
}

.gallery {
  clear: both;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
}

.gallery::after {
  content: '';
  display: table;
  clear: both;
}

.gallery-item {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  position: relative;
  margin-bottom: 2.35765%;
  line-height: 0;
  cursor: pointer;
  transition: all 300ms;
}

.gallery-item:last-child {
  margin-right: 0;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

.gallery-item:nth-child(4n+1) {
  clear: left;
}

.gallery-item-title {
  display: none;
  position: absolute;
  bottom: 20px;
  left: 0;
  padding: 10px;
  background-color: #074F6B;
  color: #ffffff;
  line-height: 1.3;
  font-size: 13px;
}

.gallery-item-title:after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EA0A";
  margin-left: 10px;
  vertical-align: middle;
  line-height: 1;
  font-size: 0.9em;
  color: #F4B350;
}

.gallery-item:hover .gallery-item-title {
  display: block;
}

.services-intro {
  width: 100%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.services-intro .service {
  display: table-cell;
  width: 16.66667%;
  padding: 2.35765%;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.services-intro .service .service-link {
  display: block;
}

.services-intro .service .service-link:after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 10px;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #074F6B;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  /* Safari */
  transform: rotate(-45deg);
}

.services-intro .service h3 {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 1.8em;
  line-height: 100%;
  width: 150px;
  display: inline-block;
  text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
}

.services-intro .service .content {
  opacity: 0;
  position: relative;
  z-index: 2;
  max-height: 190px;
  overflow-y: hidden;
}

.services-intro .service .content p {
  color: #ffffff;
}

.services-intro .service .content a {
  display: inline-block;
  padding: 0.5em 1.2em;
  background-color: #0094DA;
  border: none;
  border-radius: 4px;
  outline: 0;
  zoom: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-drag: none;
  color: #ffffff;
  font-family: "bebas";
  font-weight: 800;
  white-space: nowrap;
  vertical-align: baseline;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
}

.services-intro .service .content a:hover {
  outline: 0;
}

.services-intro .service .content a:active {
  outline: 0;
}

.services-intro .service .content a[disabled] {
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.services-intro .service .content a strong {
  font-weight: 600;
}

.services-intro .service .background-image {
  background-size: cover;
  background-position: center;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services-intro .service:nth-child(1n) {
  background-color: #F4B350;
}

.services-intro .service:nth-child(2n) {
  background-color: #6DBB43;
}

.services-intro .service:nth-child(3n) {
  background-color: #0094DA;
}

.services-intro .service:nth-child(4n) {
  background-color: #074F6B;
}

.services-intro .active {
  display: table-cell;
  width: 25%;
}

.services-intro .active .content {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.services-intro .active .background-image {
  opacity: 0.1;
  transition: all 1s ease-in-out;
}

.services-intro .active .service-link:after {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.services-intro .active:hover .service-link:after {
  border-left: 20px solid #ffffff;
}

.sub-page-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sub-page-list li {
  margin-bottom: 5px;
  display: inline-block;
}

.sub-page-list li a {
  display: inline-block;
  padding: 0.5em 1.2em;
  background-color: #0094DA;
  border: none;
  border-radius: 4px;
  outline: 0;
  zoom: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-drag: none;
  color: #ffffff;
  font-family: "bebas";
  font-weight: 800;
  white-space: nowrap;
  vertical-align: baseline;
  text-decoration: none;
  text-align: center;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 1.5em;
}

.sub-page-list li a:hover {
  outline: 0;
}

.sub-page-list li a:active {
  outline: 0;
}

.sub-page-list li a[disabled] {
  background-image: none;
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: none;
}

.sub-page-list li a strong {
  font-weight: 600;
}

.sub-page-list li a:hover {
  background: #074F6B;
}

.page-content {
  padding: 60px 20px;
}

@media screen and (min-width: 480px) {
  /* */

  /* */
}

@media screen and (min-width: 680px) {
  /* */

  /* */
}

@media screen and (min-width: 880px) {
  /* */

  /* */
}

@media screen and (min-width: 1200px) {
  /* */

  /* */
}

@media screen and (max-width: 1640px) {
  /* */

  /* */
}

@media screen and (max-width: 1320px) {
  /* */

  /* */

  .container {
    width: 880px;
  }

  .container {
    width: 880px;
  }

  .feature-list-item {
    width: 40%;
    margin-bottom: 10px;
  }

  .testimonials .slick-prev {
    left: -25px;
  }

  .testimonials .slick-next {
    right: -25px;
  }
}

@media screen and (max-width: 1120px) {
  /* */

  /* */

  .container {
    width: 680px;
  }

  .container {
    width: 680px;
  }

  .feature-list-item {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .featherlight .featherlight-content {
    /* dimensions: maximize lightbox with for small screens */
    margin-left: 0;
    margin-right: 0;
    max-height: 98%;
    padding: 10px 10px 0;
    border-bottom: 10px solid transparent;
  }
}

@media screen and (max-width: 920px) {
  /* */

  /* */

  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 14px;
  }

  .container {
    max-width: 480px;
    width: auto;
  }

  .footer {
    padding: 20px;
  }

  .footer-contact-column {
    float: left;
    display: block;
    width: 107.42297%;
    width: 100%;
    padding: 30px 0;
  }

  .footer-contact-column:last-child {
    width: 100%;
  }

  .footer-contact-column:last-child {
    border-left: none;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .footer-contact-detail {
    text-align: center;
  }

  .footer-contact-social {
    text-align: center;
  }

  .footer-contact-column .gform_body {
    text-align: center;
  }

  .footer-contact-column input[type="text"],
  .footer-contact-column input[type="email"],
  .footer-contact-column textarea {
    max-width: none;
  }

  .footer-copyright a {
    display: block;
  }

  .header {
    text-align: right;
    padding: 35px 20px;
  }

  .header-logo {
    display: inline-block;
    max-width: 200px;
    width: 100%;
  }

  .header-cta {
    position: absolute;
    left: 30px;
    display: none;
  }

  .primary-navigation-wrapper {
    padding: 90px 0 35px 0;
  }

  .primary-navigation-wrapper .primary-navigation-close {
    top: 35px;
    right: 20px;
  }

  .primary-navigation-wrapper .scroll {
    padding-right: 20px;
  }

  .container {
    max-width: 480px;
    width: auto;
  }

  .call-to-action {
    padding: 20px;
  }

  .call-to-action-content {
    padding: 20px;
  }

  .call-to-action-button {
    position: relative;
    margin-top: 15px;
    -ms-transform: none;
        transform: none;
    top: auto;
    right: auto;
  }

  .feature-list {
    padding: 20px;
  }

  .page-content {
    padding: 30px 20px;
  }
}

@media screen and (max-width: 880px) {
  .services-intro .service {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .header-cta {
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    top: 170px;
    width: 280px;
  }
}

@media screen and (max-width: 480px) {
  .half {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0;
  }

  .half:last-child {
    margin-right: 0;
  }
}

@media print {
  * {
    background: transparent !important;
    color: #6f6f6f !important;
    text-shadow: none !important;
    height: auto !important;
    width: auto !important;
    float: none !important;
  }

  nav {
    display: none !important;
  }

  a,
  a:visited {
    color: #6f6f6f !important;
    text-decoration: underline;
  }

  a::after {
    content: " (" attr(href) ")";
  }

  abbr::after {
    content: " (" attr(title) ")";
  }

  pre,
  blockquote {
    border: 1px solid #E6E6E6;
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
  }

@page {
    margin: 0.2cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

@media all {
  .featherlight {
    display: none;
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;
    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: transparent;
  }

  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */

  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8);
  }

  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .featherlight .featherlight-content {
    /* make content container for positioned elements (close button) */
    position: relative;
    /* position: centering vertical and horizontal */
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    /* dimensions: cut off images */
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    /* dimensions: handling large content */
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    /* styling */
    background: #fff;
    cursor: auto;
    /* reset white-space wrapping */
    white-space: normal;
  }

  /* contains the content */

  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block;
  }

  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    /* dimensions: 25px x 25px */
    line-height: 25px;
    width: 25px;
    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    /* Set the background in case it overlaps the content */
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    border: none;
    padding: 0;
  }

  /* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */

  .featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .featherlight .featherlight-image {
    /* styling */
    width: 100%;
  }

  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .featherlight iframe {
    /* styling */
    border: none;
  }

  .featherlight * {
    /* See https://github.com/noelboss/featherlight/issues/42 */
    box-sizing: border-box;
  }
}
/*# sourceMappingURL=styles.css.map */
